@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* @font-face {
  font-family: "Digital";
  src: url("./resources/digital-7.mono.ttf");
} */

:root {
  --red: #c8102e;
  --blue: #3b82f6;
  --darkblue: #335291;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora";
  /* outline: 1px solid salmon; */
  /* max-width: 100%; */
  /* overflow-x: hidden; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
}

header p {
  font-family: "DM Sans", sans-serif;
}

main {
  flex: 1;
  background-color: #f5f5f4;
}

footer {
  color: white;
  font-size: small;
}

footer p {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 1000;
}

/* CLASSES */

.container {
  max-width: 1450px;
  margin: 0 auto;
}

@media screen and (max-width: 1450px) {
  .container {
    padding: 0 1.5rem;
  }
}

.btn-default {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  background-color: transparent;
}

.bdr-round-1 {
  border-radius: 1rem;
}

.bdr-black {
  border-color: #000;
}

.bdr-white {
  border-color: #fff;
}

.bdr-green {
  border-color: #0f0;
}

.bdr-red {
  border-color: #f00;
}

.bdr-solid {
  border-style: solid;
}

.bdr-3 {
  border-width: 3px;
}

.bdr-4 {
  border-width: 4px;
}

.bdr-5 {
  border-width: 5px;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.txt-black {
  color: #000;
}

.txt-white {
  color: #fff;
}

.txt-green {
  color: #0f0;
}

.txt-red {
  color: #f00;
}

.txt-center {
  text-align: center;
}

.txt-small {
  font-size: small;
}

.txt-125 {
  font-size: 1.25rem;
}

.txt-semibold {
  font-weight: 600;
}

.txt-italic {
  font-style: italic;
}

.pad-all-1 {
  padding: 1rem;
}

.pad-ver-1 {
  padding: 1rem 0;
}

.pad-hor-1 {
  padding: 0 1rem;
}

.pad-top-1 {
  padding: 1rem 0 0;
}

.pad-bot-1 {
  padding: 0 0 1rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 300px) {
  .flex-space-between {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.justify-center {
  justify-content: center;
}

.ver-gap-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.link:hover {
  color: var(--blue);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}

/* player card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 1.5rem; */
  padding: 3rem 1.5rem;
  background-color: white;
  color: black;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
  width: 20rem;
  height: 28rem;
}

.close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  transition: all 0.2s;
}

.close:hover {
  cursor: pointer;
  color: var(--red);
  /* transform: rotate(-90deg); */
}

.card-upper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  z-index: 1;
}

.name {
  font-size: 1.75rem;
}

.bid-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.bid-history {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
}

.past-bid {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.past-bid.right {
  color: var(--blue);
}

.past-bid.wrong {
  color: var(--red);
}

.undo {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  transition: all 0.2s;
  visibility: hidden;
}

.undo:hover {
  cursor: pointer;
  color: black;
}

.card-lower {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.score {
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
  line-height: 9rem;
  z-index: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bid {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.bid-btn {
  width: 0px;
  height: 0px;
  border-style: solid;
  background-color: transparent;
}

.bid-btn.plus {
  border-width: 0 0.75rem 1.3rem 0.75rem;
  border-color: transparent transparent black transparent;
  margin-bottom: 0.5rem;
}

.bid-btn.plus:hover {
  border-color: transparent transparent var(--blue) transparent;
}

.bid-btn.minus {
  border-width: 1.3rem 0.75rem 0 0.75rem;
  border-color: black transparent transparent transparent;
  margin-top: 0.5rem;
}

.bid-btn.minus:hover {
  border-color: var(--blue) transparent transparent transparent;
}

.bid-num {
  font-size: 1.5rem;
  text-align: center;
  width: 4rem;
}

.yes-no {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.yes-no-btn {
  font-family: "DM Sans", sans-serif;
  font-size: large;
  font-weight: 600;
  text-align: center;
  padding: 0.3rem 0.5rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 0.5rem;
  background-color: transparent;
  width: 6rem;
}

.yes-no-btn:hover {
  color: white;
}

.yes {
  color: var(--blue);
  border-color: var(--blue);
}

.yes:hover {
  background-color: var(--blue);
}

.no {
  color: var(--red);
  border-color: var(--red);
}

.no:hover {
  background-color: var(--red);
}

/* modal */
.modal {
  position: fixed;
  z-index: 2;
  padding-top: 7rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal h3 {
  font-weight: 700;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  margin: auto;
  padding: 1.5rem;
  border-radius: 0.7rem;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.modal-middle {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.modal-name-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
}

.modal-name-input label,
.modal-name-input input {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
}

.modal-warning {
  color: var(--red);
  text-align: center;
}

.modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #aaa;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--red);
  cursor: pointer;
}

/* IDS */

#root {
  margin: 0 auto;
}

/* #add-player-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: transparent;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
} */

#add-player-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 4rem;
  height: 5.6rem;
  border-style: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
  color: black;
  background-color: white;
  font-family: "Lora", serif;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem;
}

#add-player-btn:hover {
  color: white;
  background-color: black;
  /* transform: rotate(10deg); */

  .name-line {
    color: white;
  }

  /* .add-player-plus {
    transform: rotate(90deg);
  } */
}

.name-line {
  /* width: 1.75rem;
  height: 0.15rem;
  background-color: black; */

  text-align: left;
  font-size: 0.5rem;
}

.add-player-plus {
  font-size: 3.5rem;
  line-height: 2.5rem;
  width: 100%;
  text-align: center;
  /* transition: all 0.2s; */
}

.tiny-rectangles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tiny-rectangle {
  width: 1.2rem;
  height: 0.5rem;
  border-radius: 0.1rem;
  border-width: 0.1rem;
  border-style: solid;
  background-color: transparent;
}

.tiny-rectangle.red {
  border-color: var(--red);
}

.tiny-rectangle.blue {
  border-color: var(--blue);
}

/* #add-player-btn .fa-user {
  font-size: 2rem;
  margin-left: 0.3rem;
}

#add-player-btn .fa-plus {
  font-size: 1rem;
}

#add-player-btn:hover {
  color: #fff;
  background-color: #000;
} */

#submit-player-name {
  font-size: 1.1rem;
  font-weight: 700;
  background-color: transparent;
  border: 0.15rem solid black;
  border-radius: 0.35rem;
  width: 6rem;
  margin: 0 auto;
  padding: 0.3rem 0.5rem;
  color: black;
}

#submit-player-name:hover {
  color: white;
  background-color: black;
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
  /* .card {
    font-size: 0.65rem;
  } */

  .cardholder {
    flex-direction: column;
  }

  /* .yes-no-btn {
    width: 2.03125rem;
    height: 2.03125rem;
  } */
}

@media screen and (max-width: 450px) {
  .modal-content {
    width: 300px;
  }

  .modal-name-input {
    flex-direction: column;
  }
}
