@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --blue: #3b82f6;
  --darkblue: #335291;

  --navy: #1a1a2e;
  --gold: #d4af37;

  --dark-gray: #333333;
  --mid-gray: #808080;
  --mid-light-gray: #b3b3b3;
  --light-gray: #e0e0e0;
  --off-white: #f9f9f9;

  --green: #4caf50;
  --red: #c8102e;
  --teal: #00796b;
  --maroon: #7b1f24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3";
  /* outline: 1px solid salmon; */
  /* max-width: 100%; */
  /* overflow-x: hidden; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
}

header {
  background-color: var(--navy);
  padding: 1rem 0;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--off-white);
}

header p {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

header span {
  color: var(--gold);
}

main {
  flex: 1;
  background-color: var(--off-white);
  padding: 1rem 0;
}

footer {
  color: var(--light-gray);
  font-size: small;
  background-color: var(--navy);
  padding: 1rem 0;
}

footer p {
  font-weight: 700;
}

footer a {
  color: var(--light-gray);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .fa-github {
  font-size: 1.25rem;
}

h1 {
  font-weight: 900;
  letter-spacing: 0.2rem;
}

menu {
  display: flex;
  gap: 3rem;
}

/* CLASSES */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  color: var(--light-gray);
  font-weight: 600;
}

.menu-item a {
  color: var(--light-gray);
}

.menu-item::after {
  content: "";
  display: block;
  color: var(--gold);
  width: 0;
  border-bottom: 0.15rem solid;
  transition: all 0.2s;
}

.menu-item:hover::after {
  width: 50%;
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  .flex-space-between {
    flex-direction: column;
    gap: 0.5rem;
  }

  menu {
    font-size: 0.65rem;
  }
}

.justify-center {
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.link:hover {
  color: var(--gold);
}

.cardholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}

/* player card */
.card {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: var(--off-white);
  color: black;
  border: 3px solid var(--mid-light-gray);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  /* width: 20rem;
  height: 28rem; */
  width: 664px;
}

.close {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
  transition: all 0.2s;
}

.close:hover {
  cursor: pointer;
  color: var(--red);
  /* transform: rotate(-90deg); */
}

.card-upper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  z-index: 1;
  width: 200px;
}

.name {
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  color: var(--navy);
}

.bid-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}

.bid-history {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
}

.past-bid {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 0.8rem;
}

.past-bid.right {
  color: var(--green);
}

.past-bid.wrong {
  color: var(--red);
}

.undo {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  transition: all 0.2s;
  visibility: hidden;
}

.undo:hover {
  cursor: pointer;
  color: var(--navy);
}

.score {
  font-family: "Roboto Slab", serif;
  font-size: 6rem;
  font-weight: 900;
  color: var(--navy);
  text-align: center;
  line-height: 5rem;
  z-index: 0;
}

.card-lower {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.controls {
  display: flex;
  gap: 1rem;
  padding: 0 18px 0 0;
}

.bid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
}

.bid-btn {
  width: 0px;
  height: 0px;
  border-style: solid;
  background-color: transparent;
}

.bid-btn.plus {
  border-width: 0 0.6rem 1.04rem 0.6rem;
  border-color: transparent transparent var(--navy) transparent;
}

.bid-btn.plus:hover {
  border-color: transparent transparent var(--gold) transparent;
}

.bid-btn.minus {
  border-width: 1.04rem 0.6rem 0 0.6rem;
  border-color: var(--navy) transparent transparent transparent;
}

.bid-btn.minus:hover {
  border-color: var(--gold) transparent transparent transparent;
}

.bid-num {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  width: 2rem;
  color: var(--navy);
}

.yes-no {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  height: 100%;
}

.yes-no-btn {
  font-size: large;
  font-weight: 600;
  text-align: center;
  padding: 0.1rem 0.5rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 0.35rem;
  background-color: transparent;
  width: 6rem;
}

.yes-no-btn:hover {
  color: var(--off-white);
}

.yes {
  color: var(--green);
  border-color: var(--green);
}

.yes:hover {
  background-color: var(--green);
}

.no {
  color: var(--red);
  border-color: var(--red);
}

.no:hover {
  background-color: var(--red);
}

/* modal */
.modal {
  position: fixed;
  z-index: 2;
  padding-top: 7rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--navy);
  background-color: var(--off-white);
  margin: auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.modal-middle {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.modal-name-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
}

.modal-name-input label,
.modal-name-input input {
  font-size: 1.2rem;
}

.modal-name-input input {
  font-weight: 600;
  color: var(--navy);
  background-color: var(--off-white);
  border: 1px solid var(--navy);
  border-radius: 0.2rem;
  padding: 0 0.25rem;
}

.modal-warning {
  color: var(--red);
  text-align: center;
}

.modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #aaa;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--red);
  cursor: pointer;
}

/* IDS */

#root {
  margin: 0 auto;
}

#add-player-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--navy);
  background-color: transparent;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  border: 5px solid var(--navy);
}

#add-player-btn .fa-user {
  font-size: 2rem;
  margin-left: 0.3rem;
}

#add-player-btn .fa-plus {
  font-size: 1rem;
}

#add-player-btn:hover {
  color: var(--gold);
  background-color: var(--navy);
}

#submit-player-name {
  font-size: 1.1rem;
  font-weight: 700;
  background-color: transparent;
  border: 3px solid var(--navy);
  border-radius: 0.35rem;
  width: 6rem;
  margin: 0 auto;
  padding: 0.3rem 0.5rem;
  color: var(--navy);
}

#submit-player-name:hover {
  color: var(--off-white);
  background-color: var(--navy);
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
  /* .card {
    font-size: 0.65rem;
  } */

  .cardholder {
    flex-direction: column;
  }

  /* .yes-no-btn {
    width: 2.03125rem;
    height: 2.03125rem;
  } */
}

@media screen and (max-width: 450px) {
  .modal-content {
    width: 300px;
  }

  .modal-name-input {
    flex-direction: column;
  }

  menu {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }
}
