@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Digital";
    src: url("./resources/digital-7.mono.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    /* outline: 1px solid salmon; */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button,
a {
    cursor: pointer;
    transition: all 0.2s;
}

main {
    flex: 1;
}


/* CLASSES */

.container {
    max-width: 1450px;
    margin: 0 auto;
}

.number {
    font-family: "Digital";
}

.btn-default {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    background-color: transparent;
}

.bdr-round-1 {
    border-radius: 1rem;
}

.bdr-black {
    border-color: #000;
}

.bdr-white {
    border-color: #fff;
}

.bdr-green {
    border-color: #0f0;
}

.bdr-red {
    border-color: #f00;
}

.bdr-solid {
    border-style: solid;
}

.bdr-3 {
    border-width: 3px;
}

.bdr-4 {
    border-width: 4px;
}

.bdr-5 {
    border-width: 5px;
}

.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #fff;
}

.txt-black {
    color: #000;
}

.txt-white {
    color: #fff;
}

.txt-green {
    color: #0f0;
}

.txt-red {
    color: #f00;
}

.txt-center {
    text-align: center;
}

.txt-small {
    font-size: small;
}

.txt-125 {
    font-size: 1.25rem;
}

.txt-semibold {
    font-weight: 600;
}

.txt-italic {
    font-style: italic;
}

.pad-all-1 {
    padding: 1rem;
}

.pad-ver-1 {
    padding: 1rem 0;
}

.pad-hor-1 {
    padding: 0 1rem;
}

.pad-top-1 {
    padding: 1rem 0 0;
}

.pad-bot-1 {
    padding: 0 0 1rem;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-half {
    gap: 0.5rem;
}

.gap-2 {
    gap: 2rem;
}

.ver-gap-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link:hover {
    color: #0f0;
}

.no-bullets {
    list-style: none;
}

/* player card */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    background-color: #000;
    color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0.25rem 0.25rem rgba(85, 85, 85, 0.25);
    min-width: 21.5rem;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    transition: all 0.2s;
}

.close:hover {
    cursor: pointer;
    color: #fff;
}

.name-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    height: 3rem;
}

.name {
    font-size: 1.75rem;
}

.bid-history {
    width: 5.125rem;
    /* height: 100%; */
}

.past-bid {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
}

.past-bid.right {
    background-color: #0f0;
}

.past-bid.wrong {
    background-color: #f00;
}

.score-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

.bid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* min-width: 3.125rem; */
    height: 100%;
}

.bid-btn {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

.bid-btn:hover {
    background-color: #fff;
    color: #000;
}

.bid-num {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.score {
    font-size: 7rem;
    width: 100%;
    text-align: center;
}

.yes-no {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.yes-no-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
}

.yes-no-btn:hover {
    color: #000;
}

.plus:hover {
    background-color: #0f0;
}

.minus:hover {
    background-color: #f00;
}

/* modal */
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 7rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 1rem 1.5rem 1.5rem;
    border: 1px solid #888;
    border-radius: 24px;
    width: 400px;
}

.modal-content button {
    margin: 1rem auto 0;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
}

.modal-content button:hover {
    color: #fff;
    background-color: #000;
}

.modal-name-input {
    margin: 1rem auto 0;
}

.modal-warning {
    font-size: 0.8rem;
    color: #f00;
    display: none;
}

.modal-close {
    color: #aaaaaa;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.2s;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* IDS */

#add-player-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 0.2rem; */
    color: #000;
    background-color: transparent;
    /* border: 5px solid #000; */
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

#add-player-btn .fa-user {
    font-size: 2rem;
    margin-left: 0.3rem;
}

#add-player-btn .fa-plus {
    font-size: 1rem;
}

#add-player-btn:hover {
    color: #fff;
    background-color: #000;
}